---
import Layout from '../layouts/Layout.astro'
import Projects from '../components/Projects.astro'
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
import Sobremi from '../components/Sobremi.astro'
---

<Layout
	title='Página de proyectos personales - Franco Ojeda'
>
	<Header id='inicio' />
	<Navbar
		inicio='#inicio'
		proyectos='#proyectos'
		sobremi='#sobremi'
	/>
	<Sobremi id='sobremi' />
	<main id='proyectos'>
		<Projects />
	</main>
</Layout>

<style>
	main {
		padding: 16px;
	}
</style>
