<header class='header__container'>
  <div class='title__container'>
    <h1 class='title'>Project Collection</h1>
    <small class='autor'>by: Franco Ojeda</small>
  </div>
</header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header__container {
    padding-bottom: 16px;
  }
  .title {
    font-size: 48px;
    text-align: center;
    color: hsl(0, 0%, 90%);
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
  }
  .autor {
    text-align: center;
    color: hsl(46, 75%, 73%);
    font-size: 12px;
    align-self: flex-end;
    font-family: 'Raleway', sans-serif;
  }
  .title__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
  }

  @media (width < 550px) {
    .title__container {
      width: 300px;
    }
  }
</style>
