---
const { inicio, sobremi, proyectos, porfolio } = Astro.props
---

<nav>
  <div class='navbar'>
    <a href={inicio}>Inicio</a>
    <a href={sobremi}>Sobre mi</a>
    <a href={proyectos}>Proyectos</a>
    <a href='#'>Porfolio</a>
  </div>
</nav>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  nav {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 40px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    width: 50%;
  }

  a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
</style>
